<!DOCTYPE html>
<head>
<style>
html { 
  background: url('final.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 40px;
  color: white;
  
}
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
}
body{
  background: url('men_back.jpg') no-repeat center fixed;
  background-size: cover;
}
h1{
  text-align: center;
}
img{
  opacity: 0.9;
  border-radius: 50%;
}
label{
  color:white;
}
.button {
    display: block;
    
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    
}


</style>
</head>
<body>
    <h1>Pizzas</h1>
    <br>
    <a class="button" href="home">Go Back to Home</a>
    <br>
    <div class="row">
      <div class="column">
        <img src="Cheese.jpg" alt="Snow" style="width:200px;height:200px">
        <label for="img">Pepperoni</label> 
      </div>
      <div class="column">
        <img src="fajita.jpg" alt="Forest" style="width:200px;height:200px">
        <label for="img">Tikka</label>
      </div>
      <div class="column">
        <img src="pizza_pep.jpg" alt="Mountains" style="width:200px;height:200px">
        <label for="img">Cheese</label>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="column">
        <img src="slice.jpg" alt="Snow" style="width:200px;height:200px">
        <label for="img">vegetable</label>
      </div>
      <div class="column">
        <img src="Cheese.jpg" alt="Forest" style="width:200px;height:200px">
        <label for="img"> Supreme</label>
      </div>
      <div class="column">
        <img src="pizza_pep.jpg" alt="Mountains" style="width:200px;height:200px">
        <label for="img">Fajita</label>
      </div>
    </div>



 

</body>
</html>
