<!DOCTYPE html>
<head>
<style>
html{
  color: white;
  text-align: center;

}

body{
  background: url('layout.jpg') no-repeat center fixed;
  background-size: cover;
}

h1 {
  color: white;
  text-align: center;
}

form {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}
</style>
</head>
<body>
    <h1>Login</h1>
    <% if (messages.error) { %>
      <%= messages.error %>
    <% } %>
    <form action="/login" method="POST">
      <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
      </div>
      <br>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
      <br>
      <button type="submit">Login</button>
    </form>
    <a href="/register">Register</a>

</body>
</html>
